<app-header />

<main>
  <ul id="users">
    @for (user of users; track user.id) {
    <li>
      <!-- when I say {(select)="onSelectUser($event)"} that subscribes to the event, this means when I invoke the event, onSelectUser method will be called -->
      <app-user [user]="user" (select)="onSelectUser($event)" />
    </li>
    }
  </ul>

  @if (selectedUser) {
  <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name" />
  } @else {
  <p class="fallback">Select a user to see their tasks!</p>
  }
</main>
